/* reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* body */
body {
  background-color: #F9FAFC;
  height: 100vh; }

a {
  text-decoration: none; }

/* top-line-Form */
.topLineForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 142px;
  padding-right: 142px;
  padding-top: 21px;
  margin-bottom: 160px; }

/* Logo */
.fixerLogo {
  display: flex;
  align-items: center; }

.fixerLogo__arrow {
  margin-right: 13px; }

.fixerLogo__fixer {
  width: 90px; }

/* SingUp-Link */
.signUpLink__dontHave {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222428; }

.signUpLink__link {
  color: #2A74DB;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none; }

/* SingIn/up-form */
.signInForm {
  max-width: 632px;
  margin: auto;
  border-radius: 10px;
  background-color: #fff;
  padding-left: 116px;
  padding-right: 116px;
  padding-top: 70px;
  padding-bottom: 80px;
  box-sizing: border-box; }

/* FormTitle */
.signInForm__title {
  font-family: "Exo 2", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0.4px;
  color: #002396;
  margin-bottom: 44px; }

/* FormInput */
.formInput {
  border: border 2px solid #F2F2F2;
  display: block;
  width: 100%;
  border: 2px solid #F2F2F2;
  padding-left: 14px;
  padding-top: 11px;
  padding-bottom: 11px;
  margin-top: 24px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #222428;
  outline: none;
  background: #FCFCFC;
  border-radius: 2px;
  box-sizing: border-box; }

/* Form-Btn */
.formBtn {
  width: 188px;
  height: 42px;
  border: none;
  outline: none;
  font-family: "Exo 2",sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  background-color: #0AD69C;
  cursor: pointer;
  border-radius: 2px; }

.signInForm__btnWrap {
  margin-top: 41px;
  text-align: right; }

/* Eclipse */
.eclipse {
  background-image: url(images/e5fd0d0d12327483e8ba35b38fec18ce.svg);
  background-position: center; }

/* modificators */
.formInput:focus {
  border-left: 2px solid #2A74DB;
  background-color: #fff; }

.signInForm__forgotPass a {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #222428;
  text-decoration: none; }

.signInForm__forgotPass {
  text-align: right;
  margin-top: 14px;
  margin-bottom: 14px; }

.signInForm__btnWrap {
  text-align: right; }

.signInForm__btnWrap {
  margin-top: 40px;
  text-align: right; }

.readyToGo__mainTitle {
  font-family: "Exo 2", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  text-align: center;
  color: #2A74DB; }

.readyToGo__subTitle {
  text-align: center;
  font-family: "Exo 2", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #000000;
  margin-top: 12px; }

.readyToGo__imgWrap {
  text-align: center;
  margin-bottom: 31px; }

.signInForm__btnWrap {
  margin-top: 41px;
  text-align: right; }

.formInput_small {
  flex-basis: 190px; }

.dubleInput {
  display: flex;
  justify-content: space-between;
  width: 100%; }

.signInForm__title__dark {
  color: #01134E; }

.termsOfService {
  display: flex;
  align-items: center;
  margin-bottom: 15px; }

.termsOfService__checkBox {
  padding: 4px;
  background: rgba(245, 247, 250, 0.5);
  border: 2px solid #F2F2F2;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 12px; }

.termsOfService__title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #222428; }

.termsOfService__policy {
  color: #2a2aa2;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px; }

.formInput__compliteAccaunt {
  margin-bottom: 33px;
  margin-top: 21px; }

.progressBar {
  display: flex;
  justify-content: space-between;
  margin-top: 7px; }

.progressBar span {
  flex-basis: 32%;
  height: 6px;
  background: #FF6359;
  border-radius: 10px; }

.topLineForm__compliteAccaunt {
  margin-bottom: 41px; }

.signInForm__paddindSmall {
  padding-bottom: 78px; }

/* logo */
.logo {
  display: flex;
  justify-content: center; }

/*sidebar*/
.sidebar {
  position: fixed;
  width: 80px;
  height: 100vh;
  padding-top: 18px;
  background-color: #01134E; }

.sidebar__navigation {
  margin-top: 86px; }

.sidebar__link {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  position: relative; }

.sidebar__num-marker {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 19px;
  height: 19px;
  background-color: #2A74DB;
  visibility: hidden;
  border-radius: 50%;
  top: -7px;
  left: 42px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF; }

.sidebar__vertical-marker {
  width: 4px;
  height: 48px;
  background-color: #0AD69C;
  position: absolute;
  left: 0;
  top: -78%;
  visibility: hidden; }

.sidebar__num-marker_active {
  visibility: visible; }

.sidebar__vertical-marker_active {
  visibility: visible; }

/* top-line */
.top-line {
  display: flex;
  padding-left: 120px;
  padding-right: 40px;
  height: 62px;
  background-color: #fff;
  justify-content: space-between; }

.top-line__route-list-item {
  display: inline-block;
  margin-right: 12px; }

.top-line__rout {
  display: flex;
  align-items: center; }

.top-line__rout-link {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #252F48;
  margin-right: 13px; }

.top-line__shevron {
  visibility: hidden; }

.top-line__shevron_visible {
  visibility: visible; }

.current-user {
  display: flex;
  align-items: center; }

.current-user__image {
  margin-right: 9px; }

.current-user__name {
  margin-right: 8px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #252F48; }

/* Personal info */
.Info {
  margin-left: 122px;
  margin-top: 42px;
  /* display: flex; */
  max-width: 1150px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 0px 30px rgba(153, 163, 174, 0.06);
  padding-left: 60px;
  padding-top: 57px;
  min-height: 460px; }

.tabs {
  display: flex;
  width: 100%; }

.tabs__personal, .tabs_account {
  /* border-bottom: 2px solid #2A74DB; */
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #01134E;
  padding-bottom: 19px;
  text-align: center;
  flex-basis: 400px;
  cursor: pointer; }

.tabsBorderBlu {
  border-bottom: 2px solid #2A74DB; }

.tabsGrey {
  border-bottom: 2px solid #E9E9E9;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #CCD0DC; }

.personalInformation {
  display: flex;
  margin-top: 50px; }

.profileFoto__img {
  width: 134px;
  height: 136px;
  display: block;
  margin-bottom: 7px; }

.profileFoto {
  text-align: center;
  margin-right: 40px; }

.profileFoto__changeLink {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #35373B; }

.personalInformation div:nth-child(2), .personalInformation div:nth-child(3) {
  flex-basis: 280px; }

label {
  display: block;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #546087; }

.formInput_personalInfo {
  margin-top: 4px; }

.title {
  margin-top: 29px;
  position: relative; }

.formInput_shevron::after {
  content: "";
  width: 10px;
  height: 6px;
  background-image: url(images/96c3255d8800b18d33767e9ed471fa4c.svg);
  position: absolute;
  right: 13px;
  bottom: 17px;
  cursor: pointer; }

.country {
  position: relative;
  margin-top: 29px; }

.formInput_map {
  position: absolute;
  cursor: pointer;
  bottom: 13px;
  left: 14px;
  z-index: 2; }

.mobileFone {
  margin-top: 29px; }

.selectCountryCode {
  display: flex;
  position: relative; }

.formInput__SelectCountry {
  flex-basis: 88px;
  margin-right: 6px; }

.selectCountryCode_img {
  position: absolute;
  z-index: 2;
  cursor: pointer;
  left: 13px;
  top: 15px; }

.selectCountryCode_imgShevron {
  position: absolute;
  z-index: 2;
  left: 48px;
  bottom: 19px; }

.company {
  margin-top: 29px; }

.content_1 {
  margin-right: 33px; }

.accountInfo {
  display: flex;
  margin-top: 48px; }

.userName {
  margin-right: 33px; }

.userName, .userEmail {
  flex-basis: 280px; }

.changePass {
  margin-top: 39px;
  text-align: center; }

.changePass span {
  margin-right: 10px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #01134E; }

