<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Exo+2:300,400,600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="main.css">
</head>
<body>
  <header class="topLineForm">
    <div class="fixerLogo">
      <img src="../../img/logo.svg" alt="logo" class="fixerLogo__arrow">
      <img src="../../img/fixerLogo.png" alt="fixer" class="fixerLogo__fixer">
    </div>
    <div class="signUpLink">
      <span class="signUpLink__dontHave">Already have an account?</span>
      <a href="#" class="signUpLink__link">Log in</a>
    </div>
  </header>
  <main>
    <form action="#" class="signInForm">
      <h1 class="signInForm__title">Sign up</h1>
      <div class="dubleInput">
          <input type="text" placeholder="First name" class="formInput formInput_small">
          <input type="text" placeholder="Last name" class="formInput formInput_small">
      </div>
      <input type="text" placeholder="Username" class="formInput">
      <input type="email" placeholder="Eimail" class="formInput">
      <div class="signInForm__btnWrap">
        <button class="formBtn">Get started</button>
      </div>
    </form>
  </main>
</body>
</html>